name: Test Helm Node Port

on:
  workflow_dispatch:
  schedule:
    - cron: "30 19 * * *"
jobs:
  
  test-pod-failure-chaos:
   
    runs-on: ubuntu-latest
    timeout-minutes: 30
    
    steps:

      - name: Creating kind cluster
        uses: helm/kind-action@v1.2.0
      
      - name: Print cluster information
        run: |
          kubectl config view
          kubectl cluster-info
          kubectl get nodes
          kubectl get pods -n kube-system
          helm version
          kubectl version
      
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependency
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 3
          retry_on: error
          shell: bash
          command: |
            pip install -r tests/python_client/requirements.txt
            pip install --upgrade protobuf
      - name: Deploy Milvus
        shell: bash
        working-directory: tests/python_client/chaos
        run: |
          helm repo add milvus https://milvus-io.github.io/milvus-helm
          helm repo update
          helm install --wait --timeout 360s milvus-chaos milvus/milvus -f cluster-values.yaml  -n=chaos-testing
          kubectl get pods -n chaos-testing
          sleep 20s
          kubectl get pods -n chaos-testing
          sleep 20s
          host=$(kubectl get svc/milvus-chaos -n chaos-testing -o jsonpath="{.spec.clusterIP}")
          python hello_milvus.py --host $host